[Unit]
Description=Driver for Flight Sim Base Controller serial Comms
After=fs-build.service

[Service]
ExecStart=/home/pi/flightsim/src/base_controller/ser-comm
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target